{{> head }}

{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>PRIMOS:</h1>
    </div>

    <br><br><br>

    <div class="col-4">
        <img src="assets/img/primos.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}